:root {
    --sizehive: 19vh

}

:root.dark {
    --back: brightness(0.5);
    --img: url(images/light.svg)
  }
  
  :root.light {
    --back: blur(1);
    --img: url(images/dark.svg)

  }




body {
    background-size: 2080px;
    background-position-x: 100%;
    background-image: url(images/background_wall.jpg);
    background-repeat: no-repeat;
    backdrop-filter: var(--back);
    overflow-x: hidden;
    
    
    
}
.bebas-neue-regular {  font-family: "Bebas Neue", sans-serif;  font-weight: 400;  font-style: normal; }
.header {
    display: flex;
    justify-content: center;
}

.animation {
    display: flex;
    flex-direction: column;
}

.theme-toggle {
    position: absolute;
    background-image: var(--img) ;
    left: 55px;
    top: 30px;
    height: 7vh;
    width: 7vh;
    background-repeat: no-repeat;
    background-size: 7vh;
    
}

.theme-toggle img {
    height: 7vh;
    width: 7vh;
}

img.rast {
    position: absolute;
    height: 12vh;
    top: 610px;
    filter:brightness(0.9) contrast(2);
    animation-name: rast;
    animation-duration: 2s;
    animation-delay: 3.7s, 8.7s;
    left: -14px;
   
    
}

@keyframes rast {
    0% {
        width: 170px;
     
    }
    50% {
        
        width: 180px;
    }
    100% {
        width: 170px;
    }
   
    }


    img.kir{
    position: absolute;
    height: 15vh;
    left: 20px;
    animation-name: kirpich;
    top: 100px;
    animation-duration: 10s;
    filter:brightness(0.6) contrast(2);
    animation-iteration-count: infinite;
    
    
    
    
}

@keyframes kirpich {
    0% {
        margin-top: 0px;
       
    }
    50% {
        margin-top: 500px;
        
    }
    100% {
        margin-top: 0px;
        
    }
    
}
.rast1 {
    position: absolute;
    height: 12vh;
    top: 610px;
    filter:brightness(0.9) contrast(2);
    animation-name: rast;
    animation-duration: 2s;
    animation-delay: 3.7s, 8.7s;
    right: -14px;
}

.kir1 {
    position: absolute;
    height: 15vh;
    right: 20px;
    top: 100px;
    animation-name: kirpich;
    animation-duration: 10s;
    filter:brightness(0.6) contrast(2);
    animation-iteration-count: infinite;
}

.logo_text {
    color: rgb(0, 0, 0);
    font-size: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Bebas Neue";
    
}
.header_one {
    backdrop-filter: blur(8px);
    box-shadow: -1px 2px 18px black;
    border-radius: 17px;
    height: 94vh;
    width: 160vh;
    margin: 20px;
}

.header_link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.header_link {
    display: flex;
    justify-content: flex-end;
    padding: 15px 40px;
    gap: 50px;
    font-weight: bold;
}
.header_top {
display: flex;
justify-content: space-between;
padding-inline: 10px;
padding-top: 15px;
}
.header_top-icon {
    display: flex;
    padding-inline: 10px;
    gap: 20px;
}
.wall {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 1px 4px 5px black;
    height: 314px;
    width: 238px;
    background-image: url(images/wallblock.jpg);
}
.wall2 {
    height: 314px;
    width: 238px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 1px 4px 5px black;
    background-image: url(https://dco1c2aefa5pk.cloudfront.net/l/8cg2.jpeg);
}
.header_image {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 50px;
}

.name {
    display: flex;
    flex-direction: column;
}
.forms {
        height: 352px;
        width: 480px;
        border-radius: 15px;
        box-shadow: 1px 1px 17px black;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(8px);
        margin-top: 22px;
        flex-direction: column;
        padding-bottom: 10px;
    }
    nav{
    height: 420px;
    display: flex;
    justify-content: center;
}
.name input {
    border-radius: 15px;
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 2px;
    font-style: italic;
    width: 250px;
}
.name button {
    border-radius: 15px;
    background-color:rgb(140 97 68);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 2px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-weight: bold;
}
.name button:hover {
    background-color: blanchedalmond;
}

.name input:hover {
    opacity: 45%;
}

.input {
    position: relative;
}
.bx {
    position: absolute;
    right: 10px;
    top: 7px 
}

.form-complete {
    text-align: center;
    padding: 201px;
    font-size: 24px;
}
    
.hive {
    height: var(--sizehive);
    width: var(--sizehive);
    background-image: url(images/photo_2024-04-29_14-25-12.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 15px;
    margin-top: -35px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}

footer {
    background-image: url(images/keramogranit_11_013_5_design_lux_90_grey_45x90_azteca_970.png);
    height: 250px;
}

.anim-work:hover {
    animation-name: work;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes work {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wall:hover {
    transform: scale(1.1);
}
.wall2:hover {
    transform: scale(1.1);
}
.menk:hover {
transform: scale(1.1);
}
footer a:hover {
    transform: scale(1.1);
}